#main-menu-container {
  display: block;
  margin: 40px auto;
  height: 68px;
  border: 0.5px solid #40404030;
  border-radius: 2px;
  background-color: #505050;
  width: 900px;
}

#game-logo-container img{
  float: left;
  height: 100px;
  margin-top: -16px;
  margin-left: -10px;
}
#buttons-container a:first-child {
  margin-left: 30px;
  border-left: 0.5px solid #40404030;
}
#buttons-container a:last-child{
  border-right: none;
}
#buttons-container a{

  color: #909090;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 16px;
  float: left;
  height: 67px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 0.5px solid #40404030;
  padding: 25px 20px 0 20px;
  background: none;
  margin:0;
  transition: color 0.3s;
}

#buttons-container a:hover {
  color: #fff;
}
